.centered {
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    left:0;
    right:0;
    top: 0;
    min-height: 100vh;
    z-index: 1;
}

.reveal {
    z-index: 0;
}

body {
    transition-duration: 0.1s;
}

.btn-primary {
    background-color: black;
    color: white;
    border:none;
}

.btn-primary:hover{
    background-color: black;
}

.btn-primary:active{
    background-color: black;
}

.form-select{
    max-width: 50%;
    display: inline;
}

.color{
    max-width: 50%;
}

input[type=number]{
    max-width: 50%;
}

.slides a{
    text-decoration: underline;
}

.indicator {
    position: fixed;
    bottom: -1.2vh;
    right: -1vw;
}

.indicator canvas {
    padding: 20%;
}

.navigate-left .controls-arrow {
    right: 120%;
}

.bottom-left {
    position: absolute;
    left: 5px;
    bottom: 5px;
}